.wrapper {
  margin-left: 3rem;
  margin-top: 2rem;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.sub-heading {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
}

label {
  font-family: "Poppins", sans-serif;
}
